<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>EstacionamentoWEB</title>
</head>
<body>
	
	<th:block th:include="mensagemValidacao"></th:block>
	<div class="container formEstacionamento">
	
	<form class="container" th:action="@{/editarEstacionament}" method="post">
		Local: <input type="text" th:value="${estacionamento.local}" name="local"/>
		<button class="waves-effect waves-light btn" type="submit">Editar</button>
		<input type="hidden" th:value="${estacionamento.codigo}" name="codigo"/>
	</form>
	</div>
</body>
</html>